
.wrapper{
  background-color: #9DB5B2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5vw;
  margin-top: 20px;
  color: #3B413C;
}

.listItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  height: 35px;
  background-color: #DAF0EE;
  border-radius: 10px;
  width: 85vw;
  margin-top: 15px;
  overflow: hidden;
}

.toggleAndLabel{
  display: flex;
  align-items: center;
  width: 80%;
}

label {
  width: 90%;
  overflow: hidden;
  margin-left: 10px;
}

.toggle {
  margin-left: 10px;
  background-color: #9DB5B2;
}

.deleteButton {
  border: none;
  background-color: #3B413C;
  color: #ffffff;
  margin-right: 10px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButton {
  border: none;
  color: #3B413C;
  background-color: #DAF0EE;
  font-weight: bold;
  outline: none;
}


.new-todo {
  border: none;
  outline: none;
  border-radius: 20px;
  width: 60vw;
  height: 30px;
  margin-bottom: 20px;
  background-color: #DAF0EE;
  padding-left: 20px;
}

.main {
  overflow: scroll;
  margin-bottom: 15px;
}

footer {
  display: flex;
  border-top: solid 2px #3B413C;
  padding-top: 10px;
}

.menuIcon {
  background-image: url('../assets/menu.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #DAF0EE;
  margin-left: 10px;
}

input::placeholder {
  letter-spacing: 1px;
}

.nothingMessage {
  text-align: center;
}